$greyColor: #989898;

.wrap {
  padding: 0 20px;
}

.location {
  font-size: 24px;
  font-weight: 600;
  margin: 30px 0 10px 0;
}

.weekDay {
  font-size: 20px;
  color: $greyColor;
}

.day {
  margin: 10px 0;
}

.mainWeather {
  display: grid;
  grid-template-areas:
    "a b"
    "c c";
  margin: 60px 0;

  .image {
    grid-area: a;
    justify-self: right;
  }

  .temperature {
    font-size: 46px;
    font-weight: 600;
    grid-area: b;
    align-self: center;
  }

  .weatherName {
    grid-area: c;
    justify-self: center;
    color: $greyColor;
    font-size: 20px;
  }
}